<div class="mat-elevation-z8">

  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row"><a [routerLink]="['/', 'car', row.name]">{{  row.name }}</a></td>
    </ng-container>

    <!-- Top Speed Column -->
    <ng-container matColumnDef="speed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Top Speed</th>
      <td mat-cell *matCellDef="let row">{{row.speed}}</td>
    </ng-container>

    <!-- Handling Column -->
    <ng-container matColumnDef="handling">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Handling</th>
      <td mat-cell *matCellDef="let row">{{row.handling}}</td>
    </ng-container>

    <!-- Thumbnail preview Column -->
    <ng-container matColumnDef="thumbnail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Preview</th>
      <td mat-cell *matCellDef="let row">
        <div class="thumb" [style.background]="getBackground(row)"></div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
