<div class="grid-container">
  <h1 class="mat-h1">Car listing</h1>
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="15px">
    <mat-card class="dashboard-card">
      <mat-card-header>Search cars</mat-card-header>
      <mat-card-content>
          <cd-search-box (filterCars)="filterCars($event)"></cd-search-box>
        </mat-card-content>
      </mat-card>

      <mat-card class="dashboard-card">
        <mat-card-header>Car listing</mat-card-header>
        <mat-card-content>
          <cd-car-listing [cars]="cars"></cd-car-listing>
        </mat-card-content>
      </mat-card>
  </div>
</div>
